<%
let star_html = model.pull_star_html();
let band_events = model.get('band_events');
let events=model.get('events');
%>
<div id="pic" class="text_center profile_pic">
    <% if (! _.isEmpty(logo)){ %>
        <img src="<%= logo %>" alt="img">
    <% } %>
    <div class="name"><%= name %></div>
    <div class="row">
        <span class="col-100 rating"><%= star_html %></span>
    </div>
    <div class="row">
        Genre: <%= genre %>
    </div>
    <% if (! _.isEmpty(type)){ %>
        <div class="row">Type: <%= type %></div>
    <% } %>
    <% if (! _.isEmpty(similar_to)){ %>
        <div class="row">Similar to: <%= similar_to.ucwords().split(',').join(', ') %></div>
    <% } %>
    <% if (! _.isEmpty(hometown_city) || ! _.isEmpty(hometown_state)){ %>
        <div class="row">
            Hometown: <%= [hometown_city, hometown_state].join(', ') %>
        </div>
    <% } %>

    <div class="row">
        <% if (! _.isEmpty(website)) { %>
            <a href="<%= website %>" class="link external col-20" target="_blank">Website</a>
        <% } %>
        <% if (! _.isEmpty(youtube)) { %>
            <a href="<%= youtube %>" class="link external col-20" target="_blank">Youtube</a>
        <% } else { %>
            <a href="https://www.youtube.com/results?search_query=<%= name %>" class="link external col-20" target="_blank">Youtube</a>
        <% } %>
        <% if (! _.isEmpty(facebook)) { %>
            <a href="<%= facebook %>" class="link external col-20" target="_blank">Facebook</a>
        <% } else { %>
            <a href="https://www.facebook.com/search/people/?q=<%= name %>" class="link external col-20" target="_blank">Facebook</a>
        <% } %>
        <% if (! _.isEmpty(instagram)) { %>
            <a href="<%= instagram %>" class="link external col-20" target="_blank">Instagram</a>
        <% } %>
        <% if (! _.isEmpty(twitter)) { %>
            <a href="<%= twitter %>" class="link external col-20" target="_blank">Twitter</a>
        <% } %>
    </div>
    <% if ((! _.isEmpty(ytlink_first)) && (ytlink_approved === 1) ) { %>
        <div class="row">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= ytlink_first %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    <% } %>
    <% if (! _.isEmpty(description)){ %>
        <h5><b>Description:</b></h5>
        <p><%= description %></p>
    <% } %>
    <div class="row">
        <button class="button col" id="toggle_fav">Add to Favorites</button>
    </div>
</div>
<% if (typeof events === 'object' && events.length >= 1) { %>
    <div class="block-title">EVENTS</div>
    <div id="band_events" class="list media-list chevron-center">
        <ul>
            <% _.each(events, (e)=>{
                let {id, date, start_time, end_time, when, name, short_desc, img, cost, age_limit} = e;
                asdfe =e
            %>

            <li data-id="<%= id %>">
                <a onclick="app.router.navigate('/event/<%= id %>', {trigger: true})" class="item-link item-content">
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title"><%= name %></div>
                            <div class="item-after"><%= readable_date(date) %> <%= readable_date(start_time) %> <%= readable_date(end_time) %></div>
                        </div>
                        <div class="item-subtitle"><%= readable_date(when) %></div>
                        <div class="item-text">
                            <% if (! _.isEmpty(age_limit)){ %>
                                <div class="row">Age Limit: <%= age_limit %></div>
                            <% } %>
                        </div>
                    </div>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
<% } %>
<!--
<div id="venues" class="list-block media-list">
    <ul>
        <li data-id="<%= id %>">
            Venues will be listed here
        </li>
    </ul>
</div>-->
