<%
let venue = model.get('venue');
let band_events = model.get('band_events')
if (band_events.length < 1) { console.log(`Event has no band`) }
// else {let bands = band_events.map((be)=>be.get('band'))}
%>
<div id="pic" class="text-align-center profile_pic">
    <% if (!_.isEmpty(img)){ %> <img src="<%= img %>" alt="img">
    <% } %>
    <div class="name"><%= name %></div>
</div>
<div class="row">
    <span class="col-70"><%= short_desc %></span>
    <span class="col-30"><%= age_limit %><%= cost %></span>
</div>
<div class="row">
    <% if (!_.isEmpty(website)) { %>
        <a href="<%= website %>" class="link external" target="_blank">Website</a>
    <% } %>
    <% if (!_.isEmpty(facebook)) { %>
        <a href="<%= facebook %>" class="link external" target="_blank">Facebook</a>
    <% } %>
</div>
<% if (band_events.length >= 1) { %>
    <div class="block-title">Bands playing</div>
    <div id="event_bands" class="list media-list chevron-center">
        <ul>
            <% band_events.forEach((be) => {
                if (! be instanceof app.models.BandEvent ) return false
                let band = be.get('band')
                if (! band instanceof app.models.Band) return false
                if (! band) return false
                let {id, name, logo, lno_score, genre} = band.attributes
                let star_html = band.pull_star_html()
                let first_event_date_time = band.pull_first_event_date_time();
                if (genre == undefined) {
                    genre = '';
                }
            %>
            <li data-id="<%= id %>">
                <a onclick="app.router.navigate('/band/<%= id %>', {trigger: true})" class="item-link item-content">
                    <div class="item-media"><img src="<%= band.get('logo') %>" width="80" alt=""/></div>
                    <div class="item-inner">
                        <div class="item-title-row row">
                            <div class="item-title searchable col-75"><%= name %></div>
                           <!-- <div class="col-25">
                                <span class="geolocate distance" data-lat="
                        <%if (venue instanceof app.models.Venue) { %>
                            <%= venue.get('lat') %>" data-lng="<%= venue.get('lng') %>">0</span>
                        <% }%>
                            </div>-->
                        </div>
                        <div class="row no-pad">
		  <span class="col-75 rating"><%= star_html %> &nbsp;<% if (genre !== '') { %> Genre: <%= genre.ucwords().replace(/,/g, ', ') %> <% } %>
              <br/><span><%= first_event_date_time %></span>
		  </span>
                            <!--<span class="col-25 font-italic">$$$</span>-->
                        </div>
                    </div>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
<% } %>

<% if (venue instanceof app.models.Venue) { %>
    <div id="event">
        <div class="row">
            Venue: <a class="venue_href" data-id="<%= venue.get('id') %>"><%= venue.get('name') %></a>
        </div>
        <div class="row pull-right">
            <%= venue.getFullAddr() %>
        </div>
    </div>
<% } %>
